@model Geep.Models.Core.Beneficiary

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Beneficiary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BeneficiaryId" />
            <div class="form-group">
                <label asp-for="ReferenceId" class="control-label"></label>
                <input asp-for="ReferenceId" class="form-control" />
                <span asp-validation-for="ReferenceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClusterLocationId" class="control-label"></label>
                <select asp-for="ClusterLocationId" class="form-control" asp-items="ViewBag.ClusterLocationId"></select>
                <span asp-validation-for="ClusterLocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreadeTypeId" class="control-label"></label>
                <input asp-for="TreadeTypeId" class="form-control" />
                <span asp-validation-for="TreadeTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TradeSubType" class="control-label"></label>
                <input asp-for="TradeSubType" class="form-control" />
                <span asp-validation-for="TradeSubType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgentId" class="control-label"></label>
                <input asp-for="AgentId" class="form-control" />
                <span asp-validation-for="AgentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentProgramId" class="control-label"></label>
                <input asp-for="CurrentProgramId" class="form-control" />
                <span asp-validation-for="CurrentProgramId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssociationId" class="control-label"></label>
                <select asp-for="AssociationId" class="form-control" asp-items="ViewBag.AssociationId"></select>
                <span asp-validation-for="AssociationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BVN" class="control-label"></label>
                <input asp-for="BVN" class="form-control" />
                <span asp-validation-for="BVN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeAddress" class="control-label"></label>
                <input asp-for="HomeAddress" class="form-control" />
                <span asp-validation-for="HomeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrendBankId" class="control-label"></label>
                <input asp-for="CurrendBankId" class="form-control" />
                <span asp-validation-for="CurrendBankId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label"></label>
                <input asp-for="AccountNumber" class="form-control" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GPS" class="control-label"></label>
                <input asp-for="GPS" class="form-control" />
                <span asp-validation-for="GPS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacialPicture" class="control-label"></label>
                <input asp-for="FacialPicture" class="form-control" />
                <span asp-validation-for="FacialPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmileIdZip" class="control-label"></label>
                <input asp-for="SmileIdZip" class="form-control" />
                <span asp-validation-for="SmileIdZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disability" class="control-label"></label>
                <input asp-for="Disability" class="form-control" />
                <span asp-validation-for="Disability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmileReference" class="control-label"></label>
                <input asp-for="SmileReference" class="form-control" />
                <span asp-validation-for="SmileReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEnumerated" class="control-label"></label>
                <input asp-for="DateEnumerated" class="form-control" />
                <span asp-validation-for="DateEnumerated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKinAddress" class="control-label"></label>
                <input asp-for="NextOfKinAddress" class="form-control" />
                <span asp-validation-for="NextOfKinAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKinPhone" class="control-label"></label>
                <input asp-for="NextOfKinPhone" class="form-control" />
                <span asp-validation-for="NextOfKinPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuarantorFirstName" class="control-label"></label>
                <input asp-for="GuarantorFirstName" class="form-control" />
                <span asp-validation-for="GuarantorFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuarantoLastName" class="control-label"></label>
                <input asp-for="GuarantoLastName" class="form-control" />
                <span asp-validation-for="GuarantoLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuarantorFirstPhone" class="control-label"></label>
                <input asp-for="GuarantorFirstPhone" class="form-control" />
                <span asp-validation-for="GuarantorFirstPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCardNumber" class="control-label"></label>
                <input asp-for="IdCardNumber" class="form-control" />
                <span asp-validation-for="IdCardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKinName" class="control-label"></label>
                <input asp-for="NextOfKinName" class="form-control" />
                <span asp-validation-for="NextOfKinName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeopoliticalId" class="control-label"></label>
                <input asp-for="GeopoliticalId" class="form-control" />
                <span asp-validation-for="GeopoliticalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateUpdated" class="control-label"></label>
                <input asp-for="DateUpdated" class="form-control" />
                <span asp-validation-for="DateUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
