
@{
    ViewData["Title"] = "Beneficiaries";
}

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="AdminDashboard">DashBoard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Beneficiaries</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>List of Beneficiaries</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="#" onclick="PushRecordsToWhiteList()" class="btn btn-primary">PUSH RECORDS TO WHITELIST</a>
                    </div>
                </div>
                <br />
                <br />

                <div class="table-responsive">
                    <table id="Jdatatable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Beneficiary Name</th>
                                <th>Phone Number</th>
                                <th>Enumeration Date</th>
                                <th>Association Name</th>
                                <th>Pushed To whiteList</th>
                                <th>Status</th>
                                <th>Updated on Portal</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        window.oTable = $('#Jdatatable').DataTable({
            destroy: true,
            "processing": true,
            "ajax": {
                "url": "/Beneficiaries/GetIndex",
                "type": "GET",
                "datatype": "json",
            },
            "columns": [
                { "data": "BeneficiaryFullName", "autoWidth": true },
                { "data": "phone", "autoWidth": true },
                { "data": "date_enumerated", "autoWidth": true },
                { "data": "AssociationName", "autoWidth": true },
                { "data": "DisplayForIsPushedToWhiteList", "autoWidth": true },
                { "data": "DisplayForIsApprovedByWhiteList", "autoWidth": true },
                { "data": "DisplayForIsUpdatedOnPortal", "autoWidth": true },
            ]
        });
    });

    function PushRecordsToWhiteList() {
        //var url = "/Beneficiaries/PushRecordsToWhiteList";
        $.ajax({
            type: "POST",
            url: "/Beneficiaries/PushRecordsToWhiteList",
            "datatype": "json",
            success: function (data) {
                if (data.status) {
                    //window.oTable.ajax.reload(); //run my_fun() ondomready
                    //$("#myform")[0].reset()
                    toastr.success(data.message);
                }
                else {
                    toastr.warning(data.message);
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    }

    function Edit(associationId) {
        var url = "/Beneficiaries/Save?id=" + associationId;
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal('show');
            });
    };



</script>
