@model Geep.Models.Core.Association

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Association</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AssociationRefId" class="control-label"></label>
                <input asp-for="AssociationRefId" class="form-control" />
                <span asp-validation-for="AssociationRefId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssociationName" class="control-label"></label>
                <input asp-for="AssociationName" class="form-control" />
                <span asp-validation-for="AssociationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssociationType" class="control-label"></label>
                <input asp-for="AssociationType" class="form-control" />
                <span asp-validation-for="AssociationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalGovernmentAreaId" class="control-label"></label>
                <input asp-for="LocalGovernmentAreaId" class="form-control" />
                <span asp-validation-for="LocalGovernmentAreaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuperAgent" class="control-label"></label>
                <input asp-for="SuperAgent" class="form-control" />
                <span asp-validation-for="SuperAgent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccreditationStatus" class="control-label"></label>
                <input asp-for="AccreditationStatus" class="form-control" />
                <span asp-validation-for="AccreditationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupPhoneNumber" class="control-label"></label>
                <input asp-for="GroupPhoneNumber" class="form-control" />
                <span asp-validation-for="GroupPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupEmail" class="control-label"></label>
                <input asp-for="GroupEmail" class="form-control" />
                <span asp-validation-for="GroupEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateUpdated" class="control-label"></label>
                <input asp-for="DateUpdated" class="form-control" />
                <span asp-validation-for="DateUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
