@model IEnumerable<Geep.DataAccess.ApplicationUser>
@{
    ViewData["Title"] = "Application User";
}

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="AdminDashboard">DashBoard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
</nav>

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h4>List of Application Users</h4>
                </div>
                <div class="col-md-6 text-right">
                    <a href="#" onclick="AddNew()" class="btn btn-primary">ADD NEW USER</a>
                </div>
            </div>
            <br />
            <br />
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int count = 1; }

                        @foreach (var user in Model)
                        {
                            <tr>
                                <th>@count</th>
                                <td>@user?.FirstName</td>
                                <td>@user?.LastName</td>
                                <td>@user?.Email</td>
                                <td></td>
                            </tr>
                            count++;
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script type="text/javascript">
    function AddNew() {
        var url = "/UserManagement/Save?id=0";
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal('show');
            });
    };
</script>