@model Geep.ViewModels.CoreVm.AgentClusterLocationVm

@{
    ViewData["Title"] = "Agent Cluster";
}

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="AdminDashboard">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Agent Cluster Location</li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12 text-center">
                    <h5> <b>ADD AGENT TO NEW CLUSTER</b></h5>
                </div>
                <br />
                <form id="myform" onsubmit="return false;" asp-antiforgery="true">
                    <div class="row">

                        <div class="col-md-12 form-group">
                            <label asp-for="StateId" class="control-label"></label>
                            <select asp-for="StateId" class="form-control" asp-items="ViewBag.StateId" onchange="LoadClusters();">
                                <option>--Select State--</option>
                            </select>
                            <span asp-validation-for="StateId" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <label asp-for="AgentIds" class="control-label"></label>
                            <select asp-for="AgentIds" class="js-example-basic-multiple form-control" multiple="multiple" asp-items="ViewBag.AgentId">
                                <option value="">--Select Email(s)--</option>
                            </select>
                            <span asp-validation-for="AgentIds" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <label asp-for="ClusterLocationIds" class="control-label"></label>
                            <select asp-for="ClusterLocationIds" class="js-example-basic-multiple form-control" multiple="multiple">
                                <option>--Select Cluster Location--</option>
                            </select>
                            <span asp-validation-for="ClusterLocationIds" class="text-danger"></span>
                        </div>

                        <div class="col-md-12  text-md-center">
                            <input type="submit" value="ADD" class="text-uppercase btn btn-rounded mb-5 btn-info" />

                            <a href="#" class="text-uppercase btn btn-rounded mb-5 btn-warning" data-dismiss="modal">CANCEL</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>List of States</h4>
                    </div>
                </div>
                <br />
                <br />

                <div class="table-responsive">
                    <table id="Jdatatable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Agent Email</th>
                                <th>Agent Name</th>
                                <th>Cluster Name</th>
                                <th>State Name</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
        window.oTable = $('#Jdatatable').DataTable({
            destroy: true,
            "processing": true,
            "ajax": {
                "url": "/AgentClusterLocations/GetIndex",
                "type": "GET",
                "datatype": "json",
            },
            "columns": [
                { "data": "AgentEmail", "autoWidth": true },
                { "data": "AgentName", "autoWidth": true },
                { "data": "ClusterName", "autoWidth": true },
                { "data": "ClusterStateName", "autoWidth": true }
            ]
        });
    });

    function AddNew() {
        var url = "/AgentClusterLocations/Save?id=0";
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal('show');
            });
    };

    function Edit(agentClusterLocationId) {
        var url = "/AgentClusterLocations/Save?id=" + agentClusterLocationId;
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal('show');
            });
    };

    $("#myform").submit(function (e) {
        e.preventDefault();
        var formData = new FormData(this);
        $.ajax({
            type: "POST",
            url: "/AgentClusterLocations/Save",
            data: formData,
            success: function (data) {
                if (data.status) {
                    window.oTable.ajax.reload(); //run my_fun() ondomready
                    $("#myform")[0].reset()
                    toastr.success(data.message);
                }
                else {
                    toastr.warning(data.message);
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });

    function LoadClusters() {
        var stateId = $("#StateId").val();
        $.ajax
            ({
                url: '/Basic/GetClusterList?stateId=' + stateId,
                type: 'GET',
                datatype: 'application/json',
                contentType: 'application/json',
                success: function (result) {
                    $("#ClusterLocationId").html("");
                    $.each($.parseJSON(result),
                        function (i, city) {
                            $("#ClusterLocationIds").append($('<option></option>').val(city.ClusterLocationId).html(city.Name));
                        });
                },
                error: function () {
                    alert("Whooaaa! Something went wrong..");
                }
            });
    }

</script>

