@model Geep.ViewModels.CoreVm.ClusterLocationVm

@{
    ViewData["Title"] = "Index";
}

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="AdminDashboard">DashBoard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cluster Locations</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12 text-center">
                    <h5> <b>ADD NEW CLUSTER</b></h5>
                </div>
                <br />
                <form id="myform" onsubmit="return false;" asp-antiforgery="true">
                    <div class="row">

                        <div class="col-md-12 form-group">
                            <label asp-for="ReferenceId" class="control-label"></label>
                            <input asp-for="ReferenceId" class="form-control">
                            <span asp-validation-for="ReferenceId" class="text-danger"></span>
                        </div>

                        <div class="col-md-12 form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="col-md-12 form-group">
                            <label asp-for="StateId" class="control-label"></label>
                            <select asp-for="StateId" class="form-control" asp-items="ViewBag.StateId">
                                <option>--Select State--</option>
                            </select>
                            <span asp-validation-for="StateId" class="text-danger"></span>
                        </div>




                        <div class="col-md-12  text-md-center">
                            <input type="submit" value="ADD STATE" class="text-uppercase btn btn-rounded mb-5 btn-info" />

                            <a href="#" class="text-uppercase btn btn-rounded mb-5 btn-warning" data-dismiss="modal">CANCEL</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>List of Clusters</h4>
                    </div>
                    @*<div class="col-md-6 text-right">
                            <a href="#" onclick="AddNew()" class="btn btn-primary">ADD NEW CLUSTER</a>
                        </div>*@
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <form asp-controller="Home" asp-action="Export">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="file" id="fileupload" name="files" class="form-control" />
                                    </div>
                                    <div class="col-md-3">
                                        <input type="button" name="Upload" value="Upload" id="btnupload" class="btn btn-primary" />
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="row">
                                    <div id="divPrint"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br />
                <br />
                <div class="table-responsive">
                    <table id="Jdatatable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Reference ID</th>
                                <th>Name</th>
                                <th>State Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        window.oTable = $('#Jdatatable').DataTable({
            destroy: true,
            "processing": true,
            "ajax": {
                "url": "/ClusterLocations/GetIndex",
                "type": "GET",
                "datatype": "json",
            },
            "columns": [
                { "data": "ReferenceId", "autoWidth": true },
                { "data": "Name", "autoWidth": true },
                { "data": "StateName", "autoWidth": true },
                {
                    "data": "ClusterLocationId",
                    "autoWidth": true,
                    "render": function (data) {
                        return '<a href="#" onclick="Edit(' + data + ')"><i><u><small>Edit</small></u></i></a>&nbsp;&nbsp;' +
                            '<a href="#" onclick="Delete(' + data + ')"><i class="text-danger"><u><small >Delete</small></u></i></a>';
                    }
                }

            ]
        });
    });

    function AddNew() {
        var url = "/ClusterLocations/Save?id=0";
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal('show');
            });
    };

    //function LocalGovt(stateId) {
    //    var url = "/LocalGovernmentAreas/Index?id=" + stateId;
    //    window.open(url, '_blank');

    //}


    function Edit(stateId) {
        var url = "/ClusterLocations/Save?id=" + stateId;
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal('show');
            });
    };

    function Delete(stateId) {
        swal({
            title: "Are you sure to remove this State?",
            text: "Once deleted, you will not be able to use this State again!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: "/ClusterLocations/Delete?id=" + stateId,
                        "datatype": "json",
                        success: function (data) {
                            window.oTable.ajax.reload(); //run my_fun() ondomready
                            toastr.success(data.message);
                            swal(data.message);
                        }
                    });

                } else {
                    swal("Its Ok you canceled, This State is safe!");
                }
            });
    };

    $("#myform").submit(function (e) {
        e.preventDefault();
        var formData = new FormData(this);
        $.ajax({
            type: "POST",
            url: "/ClusterLocations/Save",
            data: formData,
            success: function (data) {
                if (data.status) {
                    window.oTable.ajax.reload(); //run my_fun() ondomready
                    $("#myform")[0].reset()
                    toastr.success(data.message);
                }
                else {
                    toastr.warning(data.message);
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });

    $(function () {
        $('#btnupload').on('click', function () {
            var fileExtension = ['xls', 'xlsx'];
            var filename = $('#fileupload').val();
            if (filename.length == 0) {
                alert("Please select a file.");
                return false;
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    alert("Please select only excel files.");
                    return false;
                }
            }
            var fdata = new FormData();
            var fileUpload = $("#fileupload").get(0);
            var files = fileUpload.files;
            fdata.append(files[0].name, files[0]);
            $.ajax({
                type: "POST",
                url: "/Home/Import",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: fdata,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.length == 0)
                        alert('Some error occured while uploading');
                    else {
                        $('#divPrint').html(response);
                    }
                },
                error: function (e) {
                    $('#divPrint').html(e.responseText);
                }
            });
        })
      
    });

</script>
